body {
	background-color: white;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: 700;
    font-style: normal;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.right {
	text-align: right;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Bebas Neue', serif;
	font-weight: 300;
}

p {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
}

/*CUSTOM MEDIA QUERIES*/
@media (min-width: 375px) and (max-width: 459px) {
	header span#logo {
		width: 70%;
		margin: auto;
		float: right;
		padding-bottom: 10px;
	}

	header ul {
		width: 85%;
	}

	div.hero  {
		text-align: center !important;
		width: 100% !important;
		padding-top: 180px !important;
	}

	div#process div#secrettext1, div#secrettext2, div#secrettext3 {
		visibility: hidden;
	}

	div#toolbox div#maintool h2{
		position: relative;
		line-height: 80px !important;
		margin-left:-35px;
		font-size: 120px !important;
	}

	div#footer nav {
		margin-bottom: -20px;
	}

	div.eatplaylovemain p#creations, div.eatplaylovemain p#date,div.eatplaylovemain p#description {
		font-size: 12px !important;
	}	

	div.eatplaylovemain {
		width: 100% !important;
		padding-top: 200px !important;
	}

	div.truckingoodmain p#creations, div.truckingoodmain p#date, div.truckingoodmain p#description {
		font-size: 13px !important;
	}	

	div.truckingoodmain {
		width: 100% !important;
		padding-top: 200px !important;
	}

	div#eplheader header ul {
		width: 72%;
	}

	div#tgheader header ul {
		width: 72%;
	}

	div#eplheader header ul li.dropdown {
		z-index: 1;
	}

	div#tgheader header ul li.dropdown {
		z-index: 1;
	}

	div#eplcompetition {
		background-image: none !important;
		background-color: rgba(22,24,34,0.65);
	}

	div#eplbrand {
		padding-top: 10px !important;
	}

	div#eplbrand img {
		position: relative;
		right:10%;
	}

	div#eplbrand img#white {
		padding-bottom: 80px !important;
	}

	div#tgcompetition {
		background-image: none !important;
		background-color: rgba(214,215,223,0.80);
	}

	div#tgconclusion button {
  		width: 100% !important;
	}

	div#tgconclusion img {
		padding-top: 30px;
		margin-right: 60px;
	}
}

@media (min-width: 460px) and (max-width: 549px) {
	div.truckingoodmain {
		width: 100% !important;
	}

	div.truckingoodmain p#creations, div.truckingoodmain p#date, div.truckingoodmain p#description {
		font-size: 13px !important;
	}	

	div#tgcompetition {
		background-image: none !important;
		background-color: rgba(214,215,223,0.80);
	}

	div#tgconclusion button {
  		width: 100% !important;
	}

	div#tgconclusion img {
		padding-top: 30px;
		margin-right: 60px;
	}

	div.eatplaylovemain p#creations, div.eatplaylovemain p#date,div.eatplaylovemain p#description {
		font-size: 12px !important;	
	}	

	div.eatplaylovemain {
		width: 100% !important;
	}

	div#eplcompetition {
		background-image: none !important;
		background-color: rgba(22,24,34,0.65);
	}

	div#eplbrand img#white {
		padding-bottom: 80px !important;
	}

	div#eplheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}

	div#tgheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}

	div.hero  {
		text-align: center !important;
		width: 100% !important;
		padding-top: 180px !important;
	}

	div#process div#secrettext1, div#secrettext2, div#secrettext3 {
		visibility: hidden;
	}

	div#toolbox div#maintool h2{
		position: relative;
		line-height: 80px !important;
		margin-left:-35px;
		font-size: 120px !important;
	}
}

@media (min-width: 550px) and (max-width: 767px) {
	div.eatplaylovemain p#creations, div.eatplaylovemain p#date,div.eatplaylovemain p#description {
		font-size: 12px !important;	
	}	

	div.eatplaylovemain {
		width: 80% !important;
	}

	div.truckingoodmain p#creations, div.truckingoodmain p#date, div.truckingoodmain p#description {
		font-size: 13px !important;
	}	

	div.truckingoodmain {
		width: 100% !important;
	}

	div#about img {
		display: none;
	}

	div#process div#secrettext1, div#secrettext2, div#secrettext3 {
		visibility: hidden;
	}

	div#process div#icon1 img {
		height: 50px !important;
	}

	div#process div#icon1 a {
		width: 35px !important;
		height: 35px !important;
	}

	div#process div#icon2 img {
		height: 50px !important;
	}

	div#process div#icon2 a {
		width: 35px !important;
		height: 35px !important;
	}

	div#process div#icon3 img {
		height: 50px !important;
	}

	div#process div#icon3 a {
		width: 35px !important;
		height: 35px !important;
	}

	div#toolbox div#maintool h2{
		line-height: 70px !important;
		font-size: 100px !important;
	}

	div#toolbox div#subtool h4 {
		line-height: 30px !important;
		font-size: 30px !important;
	}

	div#talk p {
		font-size: 13px !important;
	}

	div#tgconclusion img {
		display: none;
	}

	div#eplbrand img {
		display: none;
	}

	div#eplheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}

	div#tgheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}
}


@media (min-width: 768px) and (max-width: 800px) {
	div#about img.taypic {
		position: absolute;
		width: 260px;
		padding-top: 30px;
	}

	div#process div#secrettext1, div#secrettext2, div#secrettext3 {
		visibility: hidden;
	}

	div#toolbox div.toolboxpara {
		width: 100%;
		margin-left:-50px !important;
	}

	div#talk div#letstalk p {
		margin-left: -25px;
		font-size: 13px !important;
		padding-top: 15px !important;
	}

	div#footer nav {
		padding-top: 15px;
	}

	div.eatplaylovemain p#creations, div.eatplaylovemain p#date,div.eatplaylovemain p#description {
		font-size: 12px !important;
	}	

	div.eatplaylovemain {
		width: 80% !important;
	}

	div.truckingoodmain p#creations, div.truckingoodmain p#date, div.truckingoodmain p#description {
		font-size: 13px !important;
	}	

	div.truckingoodmain {
		width: 100% !important;
	}

	div#eplbrand {
		padding-top: 10px !important;
	}

	div#eplbrand img {
		padding-top: 50px;
	}

	div#eplheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}

	div#tgheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}

}
	
/* Larger than tablet */
@media (min-width: 801px) and (max-width: 1000px){
	div#about img.taypic {
		position: absolute;
		width: 260px;
		padding-top: 30px;
	}

	div#process div#secrettext1, div#secrettext2, div#secrettext3 {
		visibility: hidden;
	}

	div#toolbox div.toolboxpara {
		width: 100%;
		margin-left:-50px !important;
	}

	div#talk div#letstalk p {
		margin-left: -25px;
		font-size: 13px !important;
		padding-top: 15px !important;
	}

	div#footer nav {
		padding-top: 15px;
	}

	div.eatplaylovemain p#creations, div.eatplaylovemain p#date, div.eatplaylovemain p#description {
		font-size: 13px !important;
	}	

	div.eatplaylovemain {
		width: 60% !important;
	}

	div.truckingoodmain p#creations, div.truckingoodmain p#date, div.truckingoodmain p#description {
		font-size: 13px !important;
	}	

	div.truckingoodmain {
		width: 70% !important;
	}

	div#eplbrand {
		padding-top: 10px !important;
	}

	div#eplbrand img {
		padding-top: 40px;
	}

	div#eplheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}

	div#tgheader .dropdown-content {
    	position: absolute;
    	right: 	0;
	}
}

@media (min-width: 1001px) and (max-width: 1011px){
	div.eatplaylovemain p#creations, div.eatplaylovemain p#date, div.eatplaylovemain p#description {
		font-size: 13px !important;
	}	

	div.eatplaylovemain {
		width: 60% !important;
	}
}


/* HEADER */
div#mainheader {
	margin-top: 30px;
	background-color: #FFFFFF;
	min-height: 540px;
}
	/* Header Navigation */
		header#logo {
			margin:0;
			float: left;
		}

		header ul {
			list-style-type: none;
			color: #171922;
			margin:0;
			padding:0;
			float: right;
			clear: left;
		}
		
		header li {
			font-family: 'Bebas Neue', Roboto, Arial, sans-serif;
			color: #171922;
			display: inline;
		}

			header ul li a.active {
				border-bottom: 1px solid #171922;
				padding-bottom: 3px;
			}
			
			header ul li a {
				color: #171922;
				text-decoration: none;
				text-align: center;
			}
			
			header ul li a:hover:not(.active) {
				color:#ccc;
			}

	/* Header Hero */
	div.hero {
		text-align: left;
		width: 60%;
		margin: auto;
		padding-top: 150px;
	}

	div.hero h1 {
		font-size: 144px;
		margin: 5px;
	}


/* WORK */
div#work {
	padding-top: 40px;
	background-color: #0B0C11;
	color: #FFFFFF;
	padding-bottom: 60px;
}

	div#work h2 {
		font-size: 100px;
		text-align: center;
		margin-bottom: 0px;
	}

	div#work p {
		width: 80%;
		margin: auto;
	}

	/* Work Images */
	div#example1 {
		margin: 0px;
		padding: 2px;
	}
	div#example2 {
    	margin: 0px;
    	padding:2px;
	}

	.caption {
    	overflow: hidden;

    	/* Only the -webkit- prefix is required these days */
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
	}

	.caption::before {
    	content: ' ';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background: transparent;
    	transition: background .35s ease-out;
	}

	.caption:hover::before {
    	background: rgba(169, 151, 87, 0.8);
	}

	.caption__media {
    	display: block;
    	width: 100%;
    	height: 100%;

	}

	.caption__overlay {
		padding-top: 30px;
    	padding-left:30px;
    	padding-bottom: 20px;
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	color: white;

        -webkit-transform: translateY(100%);
            transform: translateY(100%);

    	transition: -webkit-transform .35s ease-out;
    	transition:         transform .35s ease-out;
	}

	.caption:hover .caption__overlay {
        -webkit-transform: translateY(0);
            transform: translateY(0);
	}

	.caption .caption__overlay__content {
		font-size: 24px;
		margin-right: 0;
	}

	.caption__overlay__title {
		font-size: 45px;
		margin-bottom: 0;
		margin-right: 0;
        -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    	transition: -webkit-transform .35s ease-out;
    	transition:         transform .35s ease-out;
	}

	.caption:hover .caption__overlay__title {
        -webkit-transform: translateY(0);
            transform: translateY(0);
	}


/* ABOUT */
div#about  {
	color: black;
}

	div#about h2 {
		padding-top: 40px;
		font-size:100px;
		margin-bottom: 3px;
	}

	div#about img {
		float: right;
	}



/* PROCESS */
div#process {
	text-align: center;
	background-color: rgba(254,192,209,0.70);
	color: white;
	background-image: url('../images/myprocess.png');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: bottom center;
}

	div#process div#icon1 {
		padding-top: 45px;	
	}

	div#process div#icon2 {
		padding-top: 45px;	
	}

	div#process div#icon3 {
		padding-top: 45px;	
	}

	div#process div#icon1 a {
		background-color: white;
		border-radius: 50%;
		padding: 60px;
		display: inline-block;
		position: relative;
		width: 70px;
		height: 70px;
		border: 3px solid white;
	}


	div#process div#icon2 a {
		background-color: white;
		border-radius: 50%;
		padding: 60px;
		display: inline-block;
		position: relative;
		width: 70px;
		height: 70px;
		border: 3px solid white;
	}

	div#process div#icon3 a {
		background-color: white;
		border-radius: 50%;
		padding: 60px;
		display: inline-block;
		position: relative;
		width: 70px;
		height: 70px;
		border: 3px solid white;
	}

	div#process div#icon1 a:hover, div#process div#icon1 a:active {
		background-color: transparent;
		border: 3px solid white;
	}

	div#process div#icon2 a:hover, div#process div#icon1 a:active {
		background: transparent;
		border: 3px solid white;
	}

	div#process div#icon3 a:hover, div#process div#icon1 a:active {
		background: transparent;
		border: 3px solid white;
	}

	div#process div#icon1 img {
		max-width: auto;
		max-height: 80px;
	}

	div#process div#icon2 img {
		max-width: auto;
		max-height: 80px;
	}

	div#process div#icon3 img {
		max-width: auto;
		max-height: 80px;
	}

	div#process h3 {
		font-size:40px;
		font-weight: 500;
		padding-top: 20px;
		padding-bottom: 60px;
	}

	div#process div#secrettext1 i {
		font-size: 15px;
		color: #A99757;
		vertical-align: middle;
		padding-right: 8px;
		padding-left: 8px;
	}

	div#process div#secrettext2 i {
		font-size: 15px;
		color: #A99757;
		vertical-align: middle;
		padding-right: 8px;
		padding-left: 8px;
	}

	div#process div#secrettext3 i {
		font-size: 15px;
		color: #A99757;
		vertical-align: middle;
		padding-right: 8px;
		padding-left: 8px;
	}

	div#process div#secrettext1 h2 {
		font-weight: 200;
		font-size: 50px;
		padding-top: 50px;
	}

	div#process div#secrettext2 h2 {
		font-weight: 200;
		font-size: 50px;
		padding-top: 50px;
	}

	div#process div#secrettext3 h2 {
		font-weight: 200;
		font-size: 50px;
		padding-top: 50px;
	}

	div#process div#secrettext1 {
		max-width: 100%;
		margin: 0;
		text-align: center;
		display: none;
		position: absolute;
		bottom:0;
	}

	div#process div#secrettext2 {
		max-width: 100%;
		margin: 0;
		text-align: center;
		display: none;
		position: absolute;
		bottom:0;
	}

	div#process div#secrettext3 {
		max-width: 100%;
		margin: 0;
		text-align: center;
		display: none;
		position: absolute;
		bottom:0;
	}

	div#process div#theprocess {
		margin: auto;
		max-width: 100%;
		z-index: -1;
		position: relative;
		bottom: 20px;
	}

	div#process div#theprocess h1 {
		font-size: 220px;
		color: rgba(254,192,210,0.60);
		font-weight: 700;
		line-height: 0px;
		padding-bottom: 0px;
		margin-bottom: 28px;
	}


/* TOOLBOX */
div#toolbox {
	height: auto;
	background-color: #53555D;
	color: white;
	padding: 50px;
	background-image: url('../images/desk.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% 50%;

}

	div#toolbox div#maintool h2 {
		font-size: 150px;
		line-height: 100px;
		text-align: left;
	}


	div#toolbox div#subtool h4 {
		text-align: right;
		line-height: 34px;
		font-size: 34px;
	}

	div#toolbox div.toolboxpara {
		width: 100%;
		margin:auto;
		padding-top: 35px;
	}


/* LETSTALK */
div#talk {
	background-color: #B3E9DF;
	color: black;
	margin: auto;
	height: auto;
	padding-bottom: 60px;
	padding-top:40px;
}

	div#talk div#letstalk h2 {
		text-align: right;
		line-height: 45px;
	}

	div#talk div#letstalk {
		padding-top:50px;
		margin-top: 20px;
	}

	div#talk div#letstalk p {
		text-align: right;
		padding-top: 40px;
	}

	/* Custom form attributes */
	div#talk form {
		margin-top: 35px;
	}

	div#talk form input {
		width: 100%;
	}

	div#talk form input#name {
		height: 50px;
	}

	div#talk form input#exampleEmailInput {
		height: 50px;
	}

	div#talk form textarea#examplemessage {
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}

	div#talk form textarea {
		margin-top: 5px;
		height: 175px;
	}

	div#talk form button {
		display: inline-block;
  		height: 40px;
  		color: #FFF;
  		text-align: center;
  		font-family:'Bebas Neue';
  		font-size: 20px;
  		font-weight: 300;
  		letter-spacing: .1rem;
  		text-decoration: none;
  		white-space: nowrap;
  		background-color: #A99757;
  		border-radius: 2px;
  		border: 1px solid #A99757;
  		cursor: pointer;
  		box-sizing: border-box;
  		width: 100%;
  		padding-top: 3px;
  		margin-top: 4px;
	}

	::-webkit-input-placeholder {
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

	:-moz-placeholder { /* Firefox 18- */
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

	::-moz-placeholder {  /* Firefox 19+ */
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

	:-ms-input-placeholder {  
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

/* Back to top button */
	a.back-to-top {
		display: none;
		width: 50px;
		height: 50px;
		text-indent: -9999px;
		position: fixed;
		z-index: 999;
		right: 40px;
		bottom: 90px;
		background: #222222 url("../images/up-arrow.png") no-repeat center 43%;
	    -webkit-border-radius: 30px;
	    -moz-border-radius: 30px;
		border-radius: 30px;
}

/* FOOTER */
div#footer {
	background-color: #D6D7DF;
	color:white;
}

	div#footer nav {
		margin-top: 20px;
	}

	div#footer p {
		margin-top: 28px;
		float: right;
		text-align: center;
	}

	div#footer nav ul {
		list-style-type: none;
	}

		div#footer nav ul li {
			display:inline;
			margin-right: 10px;
		}

			div#footer nav ul li a i {
				color:white;
				text-decoration: none;
				border: 2px solid white;
				padding: 7px 7px;
			}


/* EATPLAYLOVE CSS */
/* EATPLAYLOVE HEADER */
div#eplheader {
	background-color: #FFFFFF;
	min-height: 560px;
	margin-top: 30px;
}

	/* Header navigation */
	header li a, #dropbtn {
		display: inline-block;
		text-align: center;
		padding: 7px 16px 5px 16px;
		text-decoration: none;
	}

	header .dropdown:hover #dropbtn {
		background-color: #F1F2F5;
	}

	header li.dropdown {
		display: inline-block;
	}

	header .dropdown-content {
		display: none;
    	position: absolute;
    	background-color: #f9f9f9;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	header .dropdown-content a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
    	text-align: left;
    	font-family: 'Roboto-Light';
    	font-size: 12px;
	}

	header .dropdown-content a:hover {
		background-color: #f1f1f1
	}

	header .dropdown:hover .dropdown-content {
    	display: block;
	}

	header li.dropdown i {
		padding-left: 5px;
	}


	/* EPL Hero */
	div.eatplaylovemain {
		text-align: left;
		width: 50%;
		margin: auto;
		padding-top: 170px;
	}

	div.eatplaylovemain h1 {
		font-size: 80px;
		margin: auto;
		border-bottom: 1px solid #171922;
		padding:0;
	}

	div.eatplaylovemain p#creations, p#date {
		padding-top: 20px;
		display: inline-block;
	}

	div.eatplaylovemain p#date {
		float: right;
	}

	div.eatplaylovemain p#description {
		clear: right;
		text-align: justify;
	}

/* EPL PROJECT */
div#eplproject {
	color: black;
	background-image: url('../images/projectbackground1.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #FED9E4;
	padding-bottom: 40px;
}

	div#eplproject p {
		padding-top: 160px;
		padding-bottom: 0px;
		margin-bottom: 0;
		font-size: 15px;
		font-weight: 400;
	}

	div#eplproject ul {
		padding-top: 20px;
		padding-bottom:20px;
		list-style-type:none;

	}

	div#eplproject ul li {
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 13px;
	}

	div#eplproject ul li:before {
		content: " - ";
		padding-left: 5px;
		padding-right: 5px;
	}


/* EPL RESEARCH & DISCOVERY */
div#eplresearch {
	color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}

	div#eplresearch h2 {
		font-size: 80px;
	}

	div#eplresearch p#results {
		margin-bottom: -10px;
	}

	div#eplresearch p, p a, p#results {
		font-size: 15px;
	}

	div#eplresearch ul {
		padding-top: 20px;
		padding-bottom:20px;
		list-style-type:none;
		display: table-cell;
	}

	div#eplresearch ul li {
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 1.5em;
		text-indent: -18px;
		padding-left: 18px;
		font-weight: 300;
		height: auto;
	}

	div#eplresearch ul li:before {
		content: " - ";
		padding-right: 10px;
	}

	div#eplresearch p a {
		text-decoration: none;
		color: black;
		font-weight: 500;
	}

	div#eplresearch img {
		padding: 20px 0 40px 0;
	}

	div#eplresearch div#personas img {
		display: block;
		margin: 0 auto;
	}

/* EPL COMPETITION */
div#eplcompetition {
	color: white;
	background-image: 
		linear-gradient(rgba(22,24,34,0.65),rgba(22,24,34,0.65)),
		url("../images/eplcompetition.png");
	background-repeat: no-repeat;
	background-position: 10% 50%;
	padding-top: 30px;
	padding-bottom: 45px;
}

	div#eplcompetition h2 {
		font-size: 80px;
		padding-top: 50px;
		text-align: right;
		margin-bottom: 5px;
	}

	div#eplcompetition p {
		text-align: right;
		width: 70%;
		float: right;
		font-size: 15px;
		margin-top:0px;
	}

	div#eplcompetition p a {
		text-decoration: none;
		color: white;
		font-weight: 500;
		font-size: 15px;
	}


/* EPL USER STORIES & FLOWS */
div#epluser {
	padding-top: 50px;
	padding-bottom: 60px;
}

	div#epluser h2 {
		font-size: 80px;
		text-align: center;
		margin-bottom: 10px;
	}

	div#epluser p {
		font-size: 15px;
		text-align: center;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	div.eplexamples  {
		display: block;
		margin: 0 auto;
	}

	div#epluser .caption:hover::before {
    	background: rgba(169, 151, 87, 1);
	}

	div#epluser .caption__overlay__title {
		font-size: 20px;
		letter-spacing: 1px;
		position: absolute;
		left:15px;
		top:5px;
    }

    div#epl1 .caption img, div#epl2 .caption img, div#epl3 .caption img, div#epl4 .caption img {
    	height: 160px;
    }



/* EPL BRAND IDENTITY */
div#eplbrand {
	background-color: #F1F2F5;
	padding-top: 70px;
	padding-bottom: 170px;
	background-image: url("../images/eplcolors.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom center;
}

	div#eplbrand h2 {
		font-size: 80px;
		padding-top: 50px; 
	}

	div#eplbrand p {
		font-size: 15px;
	}

	div#eplbrand img {
		padding-bottom: 12px;
		width: 80%;
		float: right;
	}


/* EPL LOW WIREFRAMES */
div#eplwireframes {
	color: white;
	background-image: 
		linear-gradient(rgba(114,116,126,0.70),rgba(114,116,126,0.70)),
		url("../images/eplwireframes.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}

	div#eplwireframes h2 {
		font-size: 80px;
		padding-top: 50px;
	}

	div#eplwireframes p {
		font-size: 15px;
		width: 80%;
		margin: auto;
		font-weight: 300;
		padding-bottom: 20px;
	}

	div#eplwireframes p a {
		text-decoration: none;
		color: white;
		font-weight: 400;
		font-size: 15px;
	}



/* EPL USER TESTING */
div#eplusertesting {
	padding-top: 40px;
	padding-bottom: 60px;
}

	div#eplusertesting h2 {
		font-size: 80px;
		text-align: center;
	}

	div#eplusertesting p {
		font-size: 15px;
		padding-bottom: 2px;
	}

	div#eplusertesting ul {
		list-style-type:none;
		display: table;
		list-style-position: inside;
		width: 100%;
		margin-top: 0;
	}

	div#eplusertesting ul li {
		font-family: 'Roboto';
		font-size: 15px;
		font-weight: 300;
		background:#F1F2F5;
		display: table-cell;
		display: block;
		padding: 4px 0 4px 0;
		margin-bottom:2px;
		border: 1px solid #F1F2F5;
		border-radius: 2px;
		line-height: 25px;
	}

	div#eplusertesting ul li i {
		float: right;
		position: relative;
		vertical-align: middle;
		color: #77E2CF;
		line-height: 25px;
		padding-right: 5px;
	}

	div#eplusertesting ul li:before {
		content: " - ";
		padding-left: 5px;
		padding-right: 5px;
	}

	div#eplusertesting p a {
		text-decoration: none;
		color: black;
		font-weight: 400;
		font-size: 15px;
	}

	
	/* Slideshow container */
	div#eplusertesting .mySlides {
		display:none;
	}

	div#eplusertesting .slideshow{
  		position: relative;
  		padding-top: 20px; 
	}

	div#eplusertesting .slideshow img {
		display: block;
		margin: 0 auto;
	}


	/* Next & previous buttons */
	div#eplusertesting .prev i, div#eplusertesting .next i {
  		cursor: pointer;
  		position: absolute;
  		top: 50%;
  		margin-top: -22px;
 	 	padding: 16px;
 	 	color: #D6D7DF;
 	 	transition: 0.6s ease;
 	 	vertical-align: middle;
 	 	text-decoration: none;
	}

	/* Position the "next button" to the right */
	div#eplusertesting .next i{
  		right: 0;
	}

	/* On hover, add a black background color with a little bit see-through */
	div#eplusertesting a.prev i:hover, div#eplusertesting a.next i:hover {
  		background-color: rgba(0,0,0,0.8);
	}

	/* The dots/bullets/indicators */
	div#eplusertesting .dot {
  		cursor:pointer;
  		height: 20px;
  		width: 20px;
  		margin: 0 2px;
  		border: 1px solid #A49355;
  		border-radius: 50%;
  		display: inline-block;
  		transition: background-color 0.6s ease;
	}

	div#eplusertesting .active, div#eplusertesting .dot:hover {
  		background-color: #A49355;
	}

	/* Fading animation */
	div#eplusertesting .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-fill-mode: forwards; 
  		animation-name: fade;
  		animation-duration: 1.5s;
 	 	animation-fill-mode: forwards; 
	}

	@-webkit-keyframes fade {
  		from {opacity: .4;}
 	 	to {opacity: 1;}
	}

	@keyframes fade {
  		from {opacity: .4;}
  		to {opacity: 1;}
	}


/* EPL CONCLUSION */
div#eplconclusion {
	background-color: #171922;
	color: white;
	padding-top: 50px;
	padding-bottom: 70px;
}

	div#eplconclusion h2 {
		font-size: 80px;
		text-align: center;
	}

	div#eplconclusion p {
		font-size: 17px;
		line-height: 25px;
		padding-bottom: 30px;
	}

	div#eplconclusion button {
		display: block;
  		height: 40px;
  		color: #FFF;
  		text-align: center;
  		font-family:'Bebas Neue';
  		font-size: 20px;
  		font-weight: 300;
  		letter-spacing: .1rem;
  		text-decoration: none;
  		background-color: #A99757;
  		border-radius: 2px;
  		border: 1px solid #A99757;
  		cursor: pointer;
  		padding-top: 3px;
  		margin:auto;
  		width: 50%;
	}

	
/* TRUCKIN' GOOD CSS */
/* TRUCKIN' GOOD HEADER */
div#tgheader {
	background-color: #FFFFFF;
	min-height: 560px;
	margin-top: 30px;
}

	/* Truckin' Good Hero */
	div.truckingoodmain {
		text-align: left;
		width: 50%;
		margin: auto;
		padding-top: 170px;
	}

	div.truckingoodmain h1 {
		font-size: 80px;
		margin: auto;
		border-bottom: 1px solid #171922;
		padding:0;
	}

	div.truckingoodmain p#creations, p#date {
		padding-top: 20px;
		display: inline-block;
	}

	div.truckingoodmain p#date {
		float: right;
	}

	div.truckingood p#description {
		clear: right;
		text-align: justify;
	}

/* TG PROJECT */
div#tgproject {
	color: white;
	background-image: url('../images/projectbackground2.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #171922;
	padding-bottom: 40px;
}

	div#tgproject p {
		padding-top: 160px;
		padding-bottom: 0px;
		margin-bottom: 0;
		font-size: 15px;
		font-weight: 400;
	}

	div#tgproject ul {
		padding-top: 20px;
		padding-bottom:20px;
		list-style-type:none;

	}

	div#tgproject ul li {
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 13px;
	}

	div#tgproject ul li:before {
		content: " - ";
		padding-left: 5px;
		padding-right: 5px;
	}

/* TG RESEARCH & DISCOVERY */
div#tgresearch {
	color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}

	div#tgresearch h2 {
		font-size: 80px;
	}

	div#tgresearch p#results {
		margin-bottom: -10px;
	}

	div#tgresearch p, p a, p#results {
		font-size: 15px;
	}

	div#tgresearch ul {
		padding-top: 20px;
		padding-bottom:20px;
		list-style-type:none;
		display: table-cell;
	}

	div#tgresearch ul li {
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 1.5em;
		text-indent: -18px;
		padding-left: 18px;
		font-weight: 300;
		height: auto;
	}

	div#tgresearch ul li:before {
		content: " - ";
		padding-right: 10px;
	}

	div#tgresearch p a {
		text-decoration: none;
		color: black;
		font-weight: 500;
	}

	div#tgresearch img {
		padding: 20px 0 40px 0;
	}

	div#tgresearch div#personas img {
		display: block;
		margin: 0 auto;
	}

/* TG COMPETITION */
div#tgcompetition {
	color: black;
	background-image: 
		linear-gradient(rgba(214,215,223,0.80),rgba(214,215,223,0.80)),
		url("../images/tgcompetition.png");
	background-repeat: no-repeat;
	background-position: 10% 50%;
	padding-top: 30px;
	padding-bottom: 45px;
}

	div#tgcompetition h2 {
		font-size: 80px;
		padding-top: 50px;
		text-align: right;
		margin-bottom: 5px;
	}

	div#tgcompetition p {
		text-align: right;
		width: 72%;
		float: right;
		font-size: 15px;
		margin-top:0px;
	}

	div#tgcompetition p a {
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 15px;
	}


/* TG USER STORIES & FLOWS */
div#tguser {
	padding-top: 50px;
	padding-bottom: 60px;
}

	div#tguser h2 {
		font-size: 80px;
		text-align: center;
		margin-bottom: 10px;
	}

	div#tguser p {
		font-size: 15px;
		text-align: center;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	div.tgexamples  {
		display: block;
		margin: 0 auto;
	}

	div#tguser .caption:hover::before {
    	background: rgba(169, 151, 87, 1);
	}

	div#tguser .caption__overlay__title {
		font-size: 20px;
		letter-spacing: 1px;
		position: absolute;
		left:15px;
		top:5px;
    }

    div#tg1 .caption img, div#tg2 .caption img, div#tg3 .caption img {
    	height: 160px;
    }



/* TG BRAND IDENTITY */
div#tgbrand {
	background-color: #171922;
	padding-bottom: 170px;
	background-image: url("../images/tgcolors.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom center;
	text-align: center;
	color: white;
}

	div#tgbrand h2 {
		font-size: 80px;
		padding-top: 50px; 
	}

	div#tgbrand p {
		font-size: 15px;
	}

	div#tgbrand img {
		padding-bottom: 12px;
		width: 70%;
	}


/* TG LOW WIREFRAMES */
div#tgwireframes {
	color: white;
	background-image: 
		linear-gradient(rgba(114,116,126,0.70),rgba(114,116,126,0.70)),
		url("../images/tgwireframes.png");
	background-size:cover;
	background-repeat: no-repeat; 
	padding-top: 100px;
	padding-bottom: 100px;
}

	div#tgwireframes h2 {
		font-size: 80px;
		padding-top: 50px;
	}

	div#tgwireframes p {
		font-size: 15px;
		width: 80%;
		margin: auto;
		font-weight: 300;
		padding-bottom: 20px;
	}

	div#tgwireframes p a {
		text-decoration: none;
		color: white;
		font-weight: 400;
		font-size: 15px;
	}



/* TG USER TESTING */
div#tgusertesting {
	padding-top: 40px;
	padding-bottom: 60px;
}

	div#tgusertesting p {
		font-size: 15px;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	div#tgusertesting div#iphone img{
		float: right;
		margin-right: 50px;
		padding-right: 50px;
	}

	div#tgusertesting p a {
		text-decoration: none;
		color: black;
		font-weight: 400;
		font-size: 15px;
	}

	div#tgusertesting div#picrows img {
		padding-top: 20px;
		padding-bottom:20px;
		display: block;
		margin: auto;
	}

	div#tgusertesting div#picrows {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 30px;
	}


/* TG CONCLUSION */
div#tgconclusion {
	background-color: #F1F2F5;
	color: black;
	padding-top: 70px;
	padding-bottom: 70px;
}

	div#tgconclusion h2 {
		font-size: 80px;
	}

	div#tgconclusion p {
		font-size: 17px;
		line-height: 25px;
		padding-bottom: 30px;
	}

	div#tgconclusion button {
		display: block;
  		height: 40px;
  		color: #FFF;
  		text-align: center;
  		font-family:'Bebas Neue';
  		font-size: 20px;
  		font-weight: 300;
  		letter-spacing: .1rem;
  		text-decoration: none;
  		background-color: #A99757;
  		border-radius: 2px;
  		border: 1px solid #A99757;
  		cursor: pointer;
  		padding-top: 3px;
  		margin:auto;
  		width: 60%;
  		float: left;
	}

	div#tgconclusion img {
		float: right;
	}











