body {
	font-family: 'Roboto', sans-serif;, Helvetica, Arial, sans-serif;
	background-color: white;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: 700;
    font-style: normal;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.right {
	text-align: right;
}

/*CUSTOME MEDIA QUERIES*/
@media (max-width: 414px) {
	.caption {
    	overflow: hidden;
    	position: relative;
    	right: 15%;
    	padding-bottom: 5px;

    	/* Only the -webkit- prefix is required these days */
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
	}

	div#process {
		min-height: auto;
	}

	div#process div#secrettext1, div#secrettext2, div#secrettext3 {
		visibility: hidden;
	}

	div#process div#theprocess {
		visibility: hidden;
	}

}

@media (max-width: 667px) {
	.caption {
    	overflow: hidden;
    	position: relative;
      	padding-bottom: 5px;

    	/* Only the -webkit- prefix is required these days */
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
	}

	div#process div#secrettext1, div#secrettext2, div#secrettext3 {
		visibility: hidden;
	}

	div#process div#theprocess {
		visibility: hidden;
	}

	div#toolbox div#maintool h2 {
		font-size: 70px;
	}

	div#toolbox div#maintool {
		width: 60%;
		margin-left: 15%;
	}

	div#toolbox div#subtool {
		width: 10%;
		margin-left: 0;
	}

}
	
/* Larger than tablet */
@media (max-width: 768px) {
	.caption {
    	overflow: hidden;
    	position: relative;
    	right: 0;

    	/* Only the -webkit- prefix is required these days */
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
	}


	div#toolbox div#maintool {
		width: 70%;
		margin-left: 20%;
	}

	div#toolbox div#subtool {
		width: 20%;
		margin-left: 5%;
	}


}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* HEADER */
div#header {
	background-color: #FFFFFF;
	margin: auto;
	min-height: 580px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Bebas Neue', serif;
}

p {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
}

	/* NAVIGATION */
	header {
		margin-top: 40px;
		background-color: #FFFFFF;
	}

		header#logo {
			margin:0;
			float: left;
		}

		header ul {
			list-style-type: none;
			color: #171922;
			margin:0;
			padding:0;
			float: right;
			clear: left;
		}
		
		header li {
			font-family: 'Bebas Neue', Roboto, Arial, sans-serif;
			color: #171922;
			display: inline;
		}

			header ul li a.active {
				border: 1px solid #171922;
				padding: 6px 7px;
			}
			
			header ul li a {
				color: #171922;
				text-decoration: none;
				padding: 14px 16px;
				text-align: center;
			}
			
			header ul li a:hover:not(.active) {
				color:#ccc;
			}

		/* HERO */
		div.hero {
			max-width: 50%;
			margin: auto;
			position: relative;
			top: 110px;
			text-align: left;
		}

		div.hero h1 {
			font-size: 144px;
			margin: auto;
		}

/* WORK */
div#work {
	padding-top: 40px;
	background-color: #0B0C11;
	color: #FFFFFF;
	padding-bottom: 60px;
}

	div#work h2 {
		font-size: 100px;
		text-align: center;
		margin-bottom: 0px;
	}

	div#work p {
		width: 80%;
		margin: auto;
	}

	/* IMAGES */
	div#example1 {
		margin: 0px;
		padding: 2px;
	}
	div#example2 {
    	margin: 0px;
    	padding:2px;
	}

	.caption {
    	overflow: hidden;

    	/* Only the -webkit- prefix is required these days */
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
	}

	.caption::before {
    	content: ' ';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background: transparent;
    	transition: background .35s ease-out;
	}

	.caption:hover::before {
    	background: rgba(0, 0, 0, .5);
	}

	.caption__media {
    	display: block;
    	width: 100%;
    	height: 100%;

	}

	.caption__overlay {
		padding-top: 30px;
    	padding-left:30px;
    	padding-bottom: 20px;
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	color: white;

        -webkit-transform: translateY(100%);
            transform: translateY(100%);

    	transition: -webkit-transform .35s ease-out;
    	transition:         transform .35s ease-out;
	}

	.caption:hover .caption__overlay {
        -webkit-transform: translateY(0);
            transform: translateY(0);
	}

	.caption .caption__overlay__content {
		font-size: 18px;
		margin-right: 0;
	}

	.caption__overlay__title {
		font-size: 30px;
		margin-bottom: 0;
		margin-right: 0;
        -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    	transition: -webkit-transform .35s ease-out;
    	transition:         transform .35s ease-out;
	}

	.caption:hover .caption__overlay__title {
        -webkit-transform: translateY(0);
            transform: translateY(0);
	}

/* ABOUT */
div#about  {
	color: black;
	}

	div#about h2 {
		padding-top: 40px;
		font-size:100px;
	}

	div#about img {
		float: right;
	}



/* PROCESS */
div#process {
	text-align: center;
	background-color: rgba(254,192,209,0.70);
	color: white;
	background-image: url('../images/myprocess.png');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: bottom center;
}

	div#process div#icon1 {
		padding-top: 45px;	

	}

	div#process div#icon2 {
		padding-top: 45px;	
	}

	div#process div#icon3 {
		padding-top: 45px;	
	}

	div#process div#icon1 a {
		background-color: white;
		border-radius: 50%;
		padding: 60px;
		display: inline-block;
		position: relative;
		width: 70px;
		height: 70px;
		border: 3px solid white;
	}

	div#process div#icon2 a {
		background-color: white;
		border-radius: 50%;
		padding: 60px;
		display: inline-block;
		position: relative;
		width: 70px;
		height: 70px;
		border: 3px solid white;
	}

	div#process div#icon3 a {
		background-color: white;
		border-radius: 50%;
		padding: 60px;
		display: inline-block;
		position: relative;
		width: 70px;
		height: 70px;
		border: 3px solid white;
	}

	div#process div#icon1 a:hover, a:active {
		background-color: rgba(254,192,209,0.70);
		border: 3px solid white;
	}

	div#process div#icon2 a:hover {
		background-color: rgba(254,192,209,0.70);
		border: 3px solid white;
	}

	div#process div#icon3 a:hover {
		background-color: rgba(254,192,209,0.70);
		border: 3px solid white;
	}

	div#process div#icon1 img {
		max-width: auto;
		max-height: 80px;
	}

	div#process div#icon2 img {
		max-width: auto;
		max-height: 80px;
	}

	div#process div#icon3 img {
		max-width: auto;
		max-height: 80px;
	}

	div#process h3 {
		font-size:40px;
		font-weight: 500;
		padding-top: 20px;
		padding-bottom: 60px;
	}

	div#process div#secrettext1 i {
		font-size: 15px;
		color: #A99757;
		vertical-align: middle;
		padding-right: 8px;
		padding-left: 8px;
	}

	div#process div#secrettext2 i {
		font-size: 15px;
		color: #A99757;
		vertical-align: middle;
		padding-right: 8px;
		padding-left: 8px;
	}

	div#process div#secrettext3 i {
		font-size: 15px;
		color: #A99757;
		vertical-align: middle;
		padding-right: 8px;
		padding-left: 8px;
	}

	div#process div#secrettext1 h2 {
		font-weight: 200;
		font-size: 50px;
		padding-top: 50px;
	}

	div#process div#secrettext2 h2 {
		font-weight: 200;
		font-size: 50px;
		padding-top: 50px;
	}

	div#process div#secrettext3 h2 {
		font-weight: 200;
		font-size: 50px;
		padding-top: 50px;
	}

	div#process div#secrettext1 {
		max-width: 100%;
		margin: 0;
		text-align: center;
		display: none;
		position: absolute;
		bottom:0;
	}

	div#process div#secrettext2 {
		max-width: 100%;
		margin: 0;
		text-align: center;
		display: none;
		position: absolute;
		bottom:0;
	}

	div#process div#secrettext3 {
		max-width: 100%;
		margin: 0;
		text-align: center;
		display: none;
		position: absolute;
		bottom:0;
	}

	div#process div#theprocess {
		margin: auto;
		max-width: 100%;
		z-index: -1;
		position: relative;
		bottom: 20px;
	}

	div#process div#theprocess h1 {
		font-size: 220px;
		color: rgba(254,192,210,0.60);
		font-weight: 700;
		line-height: 0px;
		padding-bottom: 0px;
		margin-bottom: 28px;
	}

/* TOOLBOX */
div#toolbox {
	height: auto;
	background-color: #53555D;
	color: white;
	padding: 50px;
	background-image: url('../images/desk.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% 50%;

}

	div#toolbox div#maintool h2 {
		font-size: 150px;
		line-height: 100px;
		text-align: left;
	}


	div#toolbox div#subtool h4 {
		text-align: right;
		line-height: 34px;
		font-size: 34px;
	}

	div#toolbox div.toolboxpara {
		width: 100%;
		margin:auto;
		padding-top: 35px;
	}

/* LETSTALK */
div#talk {
	background-color: #B3E9DF;
	color: black;
	margin: auto;
	height: auto;
	padding-bottom: 60px;
	padding-top:40px;
}

	div#talk div#letstalk h2 {
		text-align: right;
		line-height: 45px;
	}

	div#talk div#letstalk {
		padding-top:50px;
		margin-top: 20px;
	}

	div#talk div#letstalk p {
		text-align: right;
		padding-top: 40px;
	}

	div#talk form {
		margin-top: 35px;
	}

	div#talk form input {
		width: 100%;
	}

	div#talk form input#name {
		height: 50px;
	}

	div#talk form input#exampleEmailInput {
		height: 50px;
	}

	div#talk form input#examplemessage {
		height: 177px;

	}

	div#talk form button {
		display: inline-block;
  		height: 40px;
  		color: #FFF;
  		text-align: center;
  		font-family:'Bebas Neue';
  		font-size: 20px;
  		font-weight: 300;
  		letter-spacing: .1rem;
  		text-decoration: none;
  		white-space: nowrap;
  		background-color: #A99757;
  		border-radius: 2px;
  		border: 1px solid #A99757;
  		cursor: pointer;
  		box-sizing: border-box;
  		width: 100%;
  		padding-top: 3px;
  		margin-top: 4px;
	}

	::-webkit-input-placeholder {
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

	:-moz-placeholder { /* Firefox 18- */
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

	::-moz-placeholder {  /* Firefox 19+ */
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

	:-ms-input-placeholder {  
   		color: white;
   		font-family: 'Roboto', Arial;
   		font-weight: 300;
   		font-size: 14px;
	}

/* FOOTER */
div#footer {
	background-color: #D6D7DF;
	color:white;
}
div#footer nav {
	margin-top: 20px;
	height: auto;
}
div#footer p {
	margin-top: 30px;
	float: right;
	text-align: center;

}
	div#footer nav ul {
		list-style-type: none;
	}
		div#footer nav ul li {
			display:inline;
			margin-right: 10px;
		}

			div#footer nav ul li a i {
				color:white;
				text-decoration: none;
				border: 2px solid white;
				padding: 5px 7px;
			}
























